h1 Zurich Modular Fest 2016

h2 Analogue Electronics and Modular Synthesis Festival

p 18th-19th March 2017, Zürich

p The 2016 Zurich Modular Fest aims to bring together professionals, hobbists and companies who have a focus on analogue electronics and modular synthesis. You can expecet the following topics:

ul
  li
    strong Modular Wokshops 
    | for both beginners and advanced wigglers.
  li
    strong DIY Workshops 
    | learn to solder, build your own modules, bend circuits.
  li
    strong Concerts 
    | including many live performances.
  li
    strong Speakers 
    | telling us about their usage of analogue electronics and modular synthesis.
  li
    strong Exhibitors 
    | will bring their latest innovations for us to play with.
  li
    strong Socialize 
    | with like-minded people.

h2 Stay in touch

p Subscribe to the newsletter in order to stay informed about ticket raffels and news about workshops and other sessions.

button Subscribe
