h1 Call for Works

h2 Analogue Electronics and Modular Synthesis Festival

p 18th-19th March 2017, Zürich

h2 What are we looking for?

h3 Exhibitors

p XXX

h3 Modular Workshops

p beginners XXX

p advanced XXX

h3 DIY Workshops

p learn to solder, build your own modules, bend circuits.

h3 Concerts 

p including many live performances.

h3 Speakers 

p telling us about their usage of analogue electronics and modular synthesis.
